.navbar-nav {
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    color: #141414;
  }
}

.hero {
  height: 100vh;
}

.jumbotron {
  a, a:hover {
    text-decoration: none;
    color: #080808;
  }
  h1 {
    font-size: 12rem;
    @media (min-width: 575px) {
      font-size: 14rem;
    }
    @media (min-width: 767px) {
      font-size: 16rem;
    }
  }
  h1, h2, h3, h4, h5, i {
    color: black;
  }
}
