.bkgd {
  content: "";
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: white;
  z-index: -1;
  text-align: center;
}
.hero {
  /* background: rgba(2, 32, 41, 0.7); */
  background: url('components/fetch/diagonal-pattern.png');
  background-position: center center;
}
.navbar-toggler { 
  border: none !important;
}
.jumbotron, .navbar{
  border: none !important;
  background: rgba(0,0,0,0) !important;
  box-shadow: none !important;
}









.brick-columns {
  border: none;
}
.brick {
  position: relative;
   /* offset */
  top: 100px;
  width: 80%;
  opacity: 0;
}
.brick-show {
  top: 0px;
  width: 100%;
  opacity: 1;
}
.brick img {
  width: 100%;
}
















