
.bkgd {
  content: "";
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: white;
  z-index: -1;
  text-align: center;
}


.hero {
  background: url('components/fetch/diagonal-pattern.png');
  background-position: center center;
  min-height: 600px;
  @media (min-width: 900px) {
    height: 66.66vh;
    min-height: 0;
  }
}
.navbar-nav {
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    color: #141414;
  }
}
.navbar-toggler { 
  border: none !important;
}
.navbar-toggler-right {
  z-index: 9;
}
.jumbotron, .navbar{
  border: none !important;
  background: rgba(0,0,0,0) !important;
  box-shadow: none !important;
}
.jumbotron {
  a, a:hover {
    text-decoration: none;
    color: #080808;
  }
  h1 {
    font-size: 12rem;
    @media (min-width: 575px) {
      font-size: 14rem;
    }
    @media (min-width: 767px) {
      font-size: 16rem;
    }
  }
  h1, h2, h3, h4, h5, i {
    color: black;
  }
}












#banner {
  top: 0px;
  position: relative;
  /* offset */
  height: 50vh;
  background: url('http://www.placehold.it/700x400');
  @media (min-width: 767px) {
    width: 100%;
    height: 33.33vh;
    background: url('http://www.placehold.it/1600x400');
    background-position: center center;
  }
  background-position: center center;
}







.brick-foundation {
  p {
    text-indent: 40px;
  }
}
.brick-column-container {
  @media (max-width: 767px) {
    background: #e6e6e6;
  }
}
.brick-columns {
  border: none;
}
@media (min-width: 767px) {
  #column-1 {
    position: relative;
    left: 0px;
    background: url('components/fetch/diagonal-pattern.png');
    max-width: 17%;
    h1 {
      font-size: 2rem;
    }
    .card {
      border: none;
      background: none;
    }
  }
  #column-2 {
    position: relative;
    left: 25px;
    max-width: 50%;  
    h1 {
      font-size: 6rem;
    }
    .card {
      border: none;
      background: none;
    }
  }
  #column-3 {
    position: relative;
    background: rgba(255,255,255,.3);
    max-width: 23%;
    h1 {
      font-size: 2rem;
    }
    .card {
      border-radius: 4px;
    }
  }
}
@media (min-width: 1200px) {
  #column-3 {
    h1 {
      font-size: 3rem;
    }
  }
}


.brick {
  position: relative;
  /* offset */
  top: 100px;
  width: 80%;
  min-width: 400px;
  vertical-align: top;
  @media (min-width: 767px) {
    width: 90%;
    min-width: 0;
  }
  @media (min-width: 900px) {
    width: 90%;
  }
  opacity: 0;
  img {
    width: 90%;
  }
  .card {
    border-radius: 20px;
  }
}
















